@media only screen  and (min-width : 1224px) {
.box{
  width: 50%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 0;
}
.form-box{
  width: 100%;
}
}

.progress-div{
  margin-top: 2%;
  height: 100px;
  width: 100px;
}
.box{
  margin-top: 2%;
  max-width: 100%;
  margin-bottom: 5%;
  background-color: #EEEEEE;
  padding-bottom: 4%;
  box-shadow: 10px 10px 10px;

}
.panel span{
  color: red
}
.form-box{
  margin-top: 10%;
}
.add-box{
  margin-top: 10%;
}
.box h1{
  font-size: 22px;
}
.navigate{
  text-align: center;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
