.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 100%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}
.progressbar-red .CircularProgressbar-path  { stroke: #D50000; }
.progressbar-blue .CircularProgressbar-path { stroke: #01579B; }
.progressbar-yellow .CircularProgressbar-path { stroke: #FFD600; }
.progressbar-green .CircularProgressbar-path  { stroke: #1B5E20; }

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.progressbar-blue .CircularProgressbar-text {
  fill: #01579B;;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}
.progressbar-red .CircularProgressbar-text {
  fill: #D50000;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}


.progressbar-yellow .CircularProgressbar-text {
  fill: #FFD600;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}
.progressbar-green .CircularProgressbar-text {
  fill: #1B5E20;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}
